
@{
    var student = ViewData["student"] as eTUTOR.Models.student;

}

<div>
    <strong>
        Fullname: 
    </strong>
    @student.fullname 
</div>
<div>
    <strong>
        Birthday:
    </strong>
    @student.birthday
</div>
<div>
    <strong>
        Email:
    </strong>
    @student.email
</div>


